#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

#welcome {
    font-weight: 700;
    color: antiquewhite;
    background: linear-gradient(90deg, rgba(231,48,97,0.9220281862745098) 0%, rgba(9,9,121,1) 40%, rgba(0,22,255,1) 100%);
    border-radius: 20px;
    padding: 40px 80px;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.game-board {
    /*display: grid;
    grid-template-columns: repeat(10, 1fr);*/ /* 10 kolumn */
    /*grid-auto-flow: row;*/ /* Wymuszamy układanie wierszami */
    /*gap: 20px;*/ /* Odstęp między kafelkami */
    /*list-style: none;*/ /* Usunięcie numerów */
    /*padding: 0;
    margin: 0;*/

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin: 3rem 0;
    padding: 0;
    flex-direction: row;
}

.game-board ol{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
}

.game-board button {
    width: 4rem;
    height: 4rem;
    border: none;
    background: #aca788;
    color: indianred;
    cursor: pointer;
    font-size: 3rem;
    padding: 1rem;
    border-radius: 0.5rem;
    line-height: 0;
}

.game-board button:hover {
    background-color: lightblue; /* Podświetlenie kafelka po najechaniu */
}

.game-board button:disabled {
    background-color: darkgray; /* Wygląd dla kafelków niedostępnych */
    cursor: not-allowed; /* Zmiana kursora dla niedostępnych */
    }

.game-board .player {
    background-color: green; /* Kolor kafelka gracza */
    color: white; /* Kolor tekstu gracza */
    font-weight: bold; /* Pogrubienie tekstu gracza */
}
